* {
    padding: 0px;
    margin: 0px;
    font-family: monospace;
}

.contenedor {
    padding: 0px;
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: rgb(202, 148, 48);
    border: 8px double black;
}



#player {
    background-color: rgb(161, 10, 10);
    border: 4px dashed rgb(233, 19, 19);
    width: 40px;
    height:  40px;
    border-radius: 29px ;
    position: absolute;
    transition: all 0.3s;
}

.pointer {
    background-color: rgb(84, 21, 104);
    height: 30px;
    margin-top: 30px;
    border-bottom: 0px;
    color: blanchedalmond;
    font-size: 20px;
    text-align: center;
    padding: 10px 0px;
}

#titulo{
    text-align: center;
    margin-top: 20px;
    border: inset;
    background-color: lavender;
}